.myCarList{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: rgb(5, 10, 30);
}

.carListCar{
    background-color: rgb(192, 193, 193);
    border-radius: 15px;
    width: 300px;
}
.myCarImage{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.myCarImage img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
.carList{
    color: rgb(3, 6, 23);
}
.CarCategory{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(215, 216, 216);
    font-weight: 700;
}
.carSpecifications{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.myCarCarImage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.myCarCarImage img{
    width: 250px;
    height: 200px;
}
.carSpecificationCar{

    width: 85%;
    color: rgb(5, 9, 28);
}
.carSpecificationCar-1 em{
    font-size: 18px;
    font-weight: bold;
}
.carCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .myCarList{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        color: rgb(5, 10, 30);
    }
    
    .carListCar{
        background-color: rgb(192, 193, 193);
        border-radius: 15px;
        width: 250px;
    }
    .myCarImage{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .myCarImage img{
        width: 100%;
        height: 150px;
        border-radius: 15px;
    }
    .carList{
        color: rgb(3, 6, 23);
    }
    .CarCategory{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(215, 216, 216);
        font-weight: 700;
    }
    .carSpecifications{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .myCarCarImage{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .myCarCarImage img{
        width: 170px;
        height: 160px;
    }
    .carSpecificationCar{
        width: 85%;
        color: rgb(5, 9, 28);
        background-color: aliceblue;
    }
    .carSpecificationCar-1{
        padding: 10px;
        text-align: justify;
    }
    .carCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
