.register-form{
  color: black;
}
.register-form h1{
  color: black;
  border-bottom: 2px solid grey;
}
.myInputs{
  display: flex;
  flex-direction: column;
}
.myInputs-1{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.myInputs-1 input{
  background-color: rgba(85, 81, 81, 0.5) ;
}
.terms-section{
  display: flex;
  flex-direction: column;
}
.register-button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-button:hover{
  background-color: rgb(62, 138, 237);
}
.welcome-message{
  color: rgb(2, 2, 17);
}