.register-form{
  background-color: rgba(198, 201, 221, 0.5);
  width: 90%;
  margin-left: 50px;
  color: black;
}
.register-form h1{
  color: black;
  border-bottom: 2px solid grey;
}
.myInputs{
  display: flex;
  flex-direction: column;
}
.myInputs-1{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.myInputs-1 input{
  background-color: rgba(85, 81, 81, 0.5) ;
}
.terms-section{
  display: flex;
  flex-direction: column;
}
.register-button{
  margin-top: 20px;
  margin-bottom: 20px;
}