.header{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  
}
.logoSpaceLink{
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  color: rgb(218, 220, 222);
}
.logoSpace{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logoSpace:hover{
  background-color: aquamarine;
}
.logoSpace img{
  width: 40px;
}
.mobile-menu-button{
  display: none;
}
.main-nav{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.user-dropdown, .auth-button{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid grey;
}

.nav-link{
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(211, 212, 213);
  padding: 2px;
  border-radius: 5px;
}
.nav-link:hover{
  background-color: rgb(37, 36, 95);
}
.dropdown-item{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: rgb(211, 212, 213);
  border-radius: 5px;
}
.dropdown-item:hover{
  background-color: rgb(37, 36, 95);
}
.myProfile{
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: 20px;
}

.logout-button{
  padding: 7px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(119, 145, 241);
  border: none;
  gap: 30px;
  box-shadow: 1px 5px 5px rgb(193, 196, 235);
}
.logout-button:hover{
  background-color: rgb(0, 183, 255);
  color: aliceblue;
}
.auth-button {
  position: relative;
  top: 40px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(0, 183, 255);
  color: aliceblue;
}
.auth-button:hover{
  background-color: greenyellow;
  color: black;
}
@media screen and (min-width: 2500px) {

  .logoSpaceLink{
    font-size: 35px;
  }
  .logoSpace{
    gap: 25px;
    border-bottom: 3px solid grey;
    cursor: pointer;
  }
  
  .logoSpace img{
    width: 60px;
  }
  
  .main-nav{
    padding: 20px;
    gap: 35px;
  }
  .user-dropdown, .auth-button{
    padding: 25px;
    gap: 15px;
  }
  .nav-link{
    gap: 40px;
    font-size: 20px;
  }
  
  .dropdown-item{
    gap: 40px;
  }
  .myProfile{
   gap: 25px;
   margin-top: 20px;
   margin-bottom: 20px; 
   font-size: 20px;
  }
  .logout-button{
    font-size: 20px;
    padding: 18px;
    gap: 40px;
    box-shadow: 1px 5px 5px rgb(193, 196, 235);
  }
  .auth-button {
    position: relative;
    top: 40px;
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    color: aliceblue;
  }
  .auth-button:hover{
    background-color: greenyellow;
    color: black;
  }
  
}
@media screen and (max-width: 768px){
  
  .logoSpaceLink{
    font-size: 25px;
  }
  .logoSpace{
    gap: 15px;
  }
  .logoSpace img{
    width: 30px;
  }
  .mobile-menu-button{
    display: none;
  }
  .main-nav{
    padding: 5px;
    gap: 10px;
  }
  .user-dropdown, .auth-button{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px solid grey;
  }
  .nav-link{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
  }
  .dropdown-item{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
  }
  .myProfile{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 20px;
   margin-bottom: 20px; 
  }
  .logout-button{
    padding: 7px;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    background-color: rgb(119, 145, 241);
    border: none;
    gap: 30px;
    box-shadow: 1px 5px 5px rgb(193, 196, 235);
  }
  .logout-button:hover{
    background-color: red;
    color: aliceblue;
  }
  .auth-button {
    position: relative;
    top: 40px;
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    color: aliceblue;
  }
  .auth-button:hover{
    background-color: greenyellow;
    color: black;
  }
}
@media screen and (max-width: 425){
  
}