/** This Section Controls the General Outlook of the entire Project called it the frame of the project*/
:root {
  --primary-background-color: rgb(226, 226, 232);
  --primary-textcolor-color: rgb(17, 24, 39);
  --primary-background-hover-color: rgb(57, 57, 239);
  --primary-background-hover-text-color: white;
  --secondary-text-color: rgb(160, 163, 166);
  --secondary-background-color: rgb(17, 24, 39);
  --third-text-color: rgb(191, 192, 193);
  --forth-text-color: aliceblue;
  --third-background-color: green;
  --third-background-hover-color: rgb(145, 180, 115);
  --forth-background-color: blue;
  --fifth-background-color: aliceblue;
  --sixth-text-color: rgb(13, 13, 14);
}
.indexPage {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-background-color);
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 0.5rem;
}

.body {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
.bodyTitle{
  position: fixed;
  width: 100%;
  background-color: var(--secondary-background-color);
  text-align: left;
  font-size: 20px;
  padding-left: 10%;
  color: var(--secondary-text-color);
  z-index: 2000;
}


@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .indexPage {
    display: flex;
    flex-direction: column;
  }
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bodyTitle{
    position: fixed;
    width: 85%;
    background-color: var(--secondary-background-color);
    text-align: left;
    font-size: 15px;
    padding-left: 10%;
    border-top: 1px solid gray;
  }

}

/**This section controls the Whats App icon that is on every page**/
.whatsap {
  display: flex;
  padding: 20px;
  align-items: center;
  position: fixed;
  top: 85%;
  left: 90%;
  z-index: 2000;
  cursor: pointer;
  color: rgb(229, 236, 244);
  gap: 7px;
}
.whatsap img {
  width: 50px;
}
.whatsap img:hover {
  transform: scale(1.1);
  z-index: 2000;
}

@media (max-width: 768px) {
  .whatsap {
    display: flex;
    padding: 20px;
    align-items: center;
    position: fixed;
    top: 90%;
    left: 80%;
    z-index: 2000;
    cursor: pointer;
    color: rgb(229, 236, 244);
    gap: 7px;
  }
  .whatsap {
    padding: 10px;
    gap: 10px;
  }
  .whatsap img {
    width: 40px;
  }
}
/**WhatsApp section stops here**/
