.blockerProfile {
  width: 100%;
  overflow: hidden;
}
.blockerTitle {
  margin-top: -10px;
  font-size: 25px;
  font-weight: 700;
  color: black;
  z-index: 100;
}

.blockerForm {
  padding: 20px;
  width: 100%;
}

.myInputs {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
}

.myInput {
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 90%;
}
.myInput input {
  background-color: rgb(224, 218, 218);
}
.myInput select {
  width: 80%;
  height: 40px;
}
.handlefiles {
  z-index: 1000;
  color: rgb(2, 3, 15);
}

.Button {
  z-index: 100;
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .blockerTitle {
    margin-top: -10px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(207, 201, 201);
    z-index: 100;
  }
  .myInputs {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    background-color: aliceblue;
    padding: 0;
  }
  .errorMessage{
    font-size: 20px;
  }
}
