.move {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moveSmarter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../assets/relocation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.moveSmarter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    83,
    77,
    77,
    0.3
  ); /* Change the opacity value as needed */
  z-index: 1;
}
.moveSmarter-1 {
  display: flex;
  font-size: 80px;
  flex-direction: column;
  align-items: center;
  color: rgb(247, 243, 243);
  z-index: 100;
}
.contactUs {
  width: 250px;
  height: 50px;
  font-size: 25px;
  background-color: aliceblue;
  color: rgb(101, 89, 89);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  z-index: 100;
  cursor: pointer;
}
.contactUs:hover {
  background-color: chartreuse;
}
.moving {
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 150px;
  background-color: rgb(184, 204, 204);
  color: rgb(52, 64, 70);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgb(101, 89, 89);
}
.moving p {
  font-size: 40px;
  color: rgb(56, 61, 65);
}
.moving1 {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  font-size: 25px;
  gap: 30px;
  color: rgb(56, 61, 65);
}
.moving2 {
  padding: 7px;
  border-right: 2px solid gray;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 0 0;
  text-align: center;
}
.moving2:hover {
  background-color: chartreuse;
  box-shadow: 0 0 3px 0;
}
.movingDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: rgba(80, 97, 111, 0.3);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(37, 42, 46);
}
.movingDetails .heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}
.movingDetails form {
  display: flex;
  align-items: center;
  width: 100%;
}
.movingDetails form input {
  margin-bottom: 20px;
  width: 500px;
}
.movingDetails form .custom-select {
  padding: 1px;
  width: 270px;
  height: 40px;
  font-size: 20px;
}
.selection {
  margin-bottom: 20px;
  display: flex;
  width: 35%;
}
.movingDetails form Textarea {
  margin-bottom: 20px;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .moveSmarter-1 {
    font-size: 50px;
  }
  .contactUs {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }
  .moving {
    width: 100%;
    height: 200px;
  }
  .moving p {
    font-size: 30px;
  }
  .moving1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
  }
  .moving2 {
    width: 75px;
    font-size: 15px;
  }
  .movingDetails {
    width: 80%;
  }
  .movingDetails .heading {
    font-size: 25px;
  }
  .movingDetails form input {
    width: 90%;
  }
  .movingDetails form .custom-select {
    width: 100px;
    height: 30px;
    font-size: 15px;
  }
  .movingDetails form Textarea {
    width: 100%;
  }
  .selection {
    margin-bottom: 20px;
    display: block;
    width: 95%;
  }
  
}